@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: black;
  color: #f5f6f6;
  padding-top: 150px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border-radius: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.controls {
  top: 0;
  background: black;
  position: fixed;
  padding: 20px;
  z-index: 100;
}

button {
  min-width: 60px;
  margin: 5px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.images--0_5 {
  margin-bottom: 100px;
}

.images--0_25 {
  margin-bottom: 50px;
}

.images--debug .image-block {
  outline: 6px solid rgba(227, 0, 248, 0.5);
}

$images-per-block: 10;

.image-wrapper {
  flex-basis: math.div(100%, $images-per-block);
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 5.6 / 10;
  display: block;
}

.image-block {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image-block--0_5 {
  flex-basis: 50%;
}

.image-block--0_25 {
  flex-basis: 25%;
}

.image-block--hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
